<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blindstick">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- This permission is need to check the internet connection state ! -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tollbooth"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_tollbooth"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.DirectionActivity"></activity>
        <activity android:name=".Admin.AdminHome" />
        <activity android:name=".User.UserHome" />
        <activity android:name=".User.UserLogin" />
        <activity android:name=".Admin.AdminLogin" />
        <activity android:name=".UserType" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.LocationMonitoringService" />
    </application>

</manifest>